doctype html
html(lang="es")
    head
    link(rel="stylesheet", href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
    link(rel="stylesheet", href="css/icons.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Mono")
    title
        =fontName + " | Preview and classes"
    style(type="text/css").
        *{
            box-sizing: border-box;
        }
        body{
            background-color: #1d1d1d;
            padding: 1rem;
            color: white;
            font-family: 'Roboto Mono', sans-serif;
        }
        .fonts-page {
            max-width: 50rem;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
        }
        .fonts-page__icon {
            width: 33.3333%;
            padding: 1rem;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .fonts-page__icon i {
            font-size: 2.5rem;
        }
        .fonts-page__icon span{
            margin-top: 0.2rem;
            font-size: 0.8em;
            color: #8e8e8e;
            padding: 0.2em 0.5em 0.3em;
            background-color: #292929;
            border-radius: 0.2em;
            text-align: center;
        }
    body
        div(class="fonts-page")
            for ic in icons
                div(class="fonts-page__icon")
                    i(class=className + " " + className + "-" + ic)
                    span
                        =className + " " + className + "-" + ic